@layout('layouts/main')
@set('title', 'Todo Page')

@section('content')
    <h1>Liste Todo</h1>
    <ul>
        @each(todo in todos)
            <p>{{ todo.name }}</p>
            <a href="{{ route('todos/show', [todo.id]) }}">Voir</a>
            <button action="{{ route('todos/destroy', [todo.id]) }}">Delete</button>
        @end
    </ul>
@end